.btns {
    z-index: 100000000000000;
    z-index: 1;
    position: absolute;
    display: none;
    right: 10px;
    align-items: baseline;
    justify-content: space-between;
    width: 95%;
    .search {
        margin-top: 15px;
    }
}


@media (max-width:991px) {
    .btns {
        display: flex;
    }
}