@import "./universal/colors";
@import './universal/btns';
@import './universal/menu_overlay';
@import './universal/search_overlay';
@import "./universal/wrapper";
@import "./universal/section_header";
@import "./universal/footer";
@import "./universal/header";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.tour {
    padding: 80px 0;
    background-color: #F2F2F2;
    .tour_info_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .sp-wrap {
            flex: 0.5;
            background: none !important;
            border: none;
            max-width: none;
            img {
                object-fit: cover;
                border-radius: 8px;
            }
            a {
                border-radius: 8px;
            }
            .sp-thumbs {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                a {
                    width: 33%;
                    margin-right: 20px;
                    height: 138px;
                }
            }
            .sp-large {
                height: 450px !important;
                a {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .tour_info {
            flex: 0.7;
            ul {
                list-style-type: none;
                padding-left: 0;
            }
            li {
                i {
                    margin-right: 7px;
                    color: orange;
                }
            }
            h2 {
                font-weight: 600;
                font-size: 18px;
            }
            h3 {
                font-weight: 600;
                font-size: 16px;
                color:$main;
                margin-top: 50px;
            }
            .bottom_side {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .price {
                    margin-right: 15px;
                    font-weight: 600;
                    color: $main;
                }
                .buy_btn {
                    cursor: pointer;
                    width: 30%;
                    border-radius: 4px;
                    padding: 15px 0;
                    color: white;
                    background: $main;
                    text-align: center;
                }
            }
        }
    }
    .descriptions {
        margin-top: 30px;
        .descriptions_btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .btn { 
            margin-right: 25px;
            width: 20%;
            text-align: center;
            padding: 13px 0;
            border-radius:4px;
            background: white;
            transition: .3s all;
            &:hover {
                background: $main;
                color: white;
            }
            &.active {
                background: $main;
                color: white;
            }
        }
        .description_container {
            margin-top: 30px;
            width: 90%;
            .description {
                display: none;
                &.active {
                    display: block;
                }
            }
                
        }
    }
    
}


@media (max-width: 1199px) {
    .tour .tour_info_wrapper {
        flex-direction: column;
    }
    .tour .tour_info_wrapper .sp-wrap {
        width: 80%;
        margin: 0 auto;
    }
    .tour .tour_info_wrapper .tour_info {
        margin: 0 auto;
        margin-top: 30px;
    }
    .tour .descriptions {
        margin-top: 50px;
    }
    .tour .tour_info_wrapper .tour_info .bottom_side {
        flex-direction: column;
    }
    .tour .tour_info_wrapper .tour_info .bottom_side .price {
        font-size: 31px;
    }
    .tour .tour_info_wrapper .tour_info .bottom_side .buy_btn {
        margin-top: 30px;
        width: 50%;
    }
}

@media (max-width: 991px) {
   
}

@media (max-width: 767px) {
}

@media (max-width: 576px) {
    .tour .descriptions {
        margin-top: 30px;
    }
    .tour .descriptions .descriptions_btns {
        flex-direction: column;
    }
    .tour .descriptions .btn {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }
    .tour .tour_info_wrapper .tour_info .bottom_side .buy_btn {
        width: 60%;
    }
    .tour .tour_info_wrapper .sp-wrap .sp-thumbs a {
        height: 90px;
        margin-right: 10px;
    }
    .tour .tour_info_wrapper .sp-wrap .sp-large {
        height: 300px !important;
    }
    .tour .tour_info_wrapper .sp-wrap {
        width: 100%;
    }
    .tour .descriptions .description_container {
        width: 100%;
    }
    .tour .descriptions .description_container .description {
        text-align: justify;
    }
}
